<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <a href="" class="logo"><img src="./assets/img/SMEDX.png" alt=""></a>
                <p class="intro">Chúng tôi là một đội ngũ đầy cảm hứng và tận tâm đang cố hết sức để tạo ra những bước tiến mới trong ngành công nghệ  hiện tại.</p>
                <ul class="social flex">
                    <li><a href="" class="facebook">facebook</a></li>
                    <li><a href="" class="google">google</a></li>
                    <li><a href="" class="instagram">instagram</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2">
                <ul class="link">
                    <li><a href="" title="">Về chúng tôi</a></li>
                    <li><a href="" title="">Nền tảng</a></li>
                    <li><a href="" title="">Tin tức</a></li>
                    <li><a href="" title="">Hotline 1</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2">
                <ul class="link right">
                    <li><a href="" title="">Tuyển dụng</a></li>
                    <li><a href="" title="">FAQ</a></li>
                    <li><a href="" title="">Liên hệ</a></li>
                    <li><a href="" title="">Hotline2</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>