<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="logo" href="https://thuclfc.gitlab.io/smedx/build/home.html"><img src="./assets/img/logo.png" alt=""></a>
        <div class="btn_login_m" data-toggle="modal" data-target="#modal-login"><img src="./assets/img/user.png" alt=""></div>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li><a href="https://thuclfc.gitlab.io/smedx/build/home.html" title="">Trang chủ</a></li>
                <li><a href="https://thuclfc.gitlab.io/smedx/build/nen-tang-dong-hanh.html" title="">Nền tảng đồng hành</a></li>
                <li><a href="https://thuclfc.gitlab.io/smedx/build/tin-tuc.html" title="">Tin tức</a></li>
                <li><a href="https://thuclfc.gitlab.io/smedx/build/faq.html" title="">Giải đáp thắc mắc</a></li>
            </ul>
            <div class="login">
                <div class="login__before">
                    <button type="button" class="btn_login flex-center" data-toggle="modal" data-target="#modal-register">Đăng nhập</button>
                </div>
                <div class="login__after">
                    <p>Xin chào: Username</p>
                </div>
            </div>
        </div>
        <div class="modal-navbar"></div>
    </nav>
</header>
<div class="modal fade modal-login" id="modal-login">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--<a href="javascript:;" class="close" data-dismiss="modal">X</a>-->
            <h5>Đăng nhập</h5>
            <h2>Để tham gia SMEs ngay.</h2>
            <form action="" method="">
                <div class="form-group">
                    <label>Tên người dùng</label>
                    <input type="text" name="username" placeholder="Enter username ..." required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input id="password-field" type="password" name="password" placeholder="Enter passwords ..." required>
                    <span toggle="#password-field" class="toggle-password"></span>
                </div>
                <button type="submit" class="btn_submit flex-center">Log in</button>
            </form>
            <div class="flex-between">
                <label class="remember">
                    <input type="checkbox">
                    Remember me
                </label>
                <a href="" title="Forgot password?" class="forgot_pass">Forgot password?</a>
            </div>
            <div class="signup">
                Don't have any account? <a href="javascript:;">Sign up here</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-register" id="modal-register">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <h5>Chỉ vài thao tác</h5>
            <h2>Bạn đã có thể tham gia SMEs.</h2>
            <ul class="register_select nav flex">
                <li><a href="#personal" data-toggle="tab" class="active" title=""><i class="icon"></i> Cá nhân</a></li>
                <li><a href="#enterprise" data-toggle="tab" title=""><i class="icon"></i> Doanh nghiệp</a></li>
            </ul>
            <div class="tab-content">
                <div id="personal" class="tab-pane fade show active">
                    <form action="" method="">
                        <div class="form-group">
                            <label>Tên người dùng</label>
                            <input type="text" name="username" placeholder="Enter username ..." required>
                        </div>
                        <div class="form-group">
                            <label>Email doanh nghiệp</label>
                            <input type="email" name="email" placeholder="Enter company name ..." required>
                        </div>
                        <div class="form-group">
                            <label>Nhập mật khẩu</label>
                            <input id="password-field1" type="password" name="password" placeholder="Enter passwords ..." required>
                            <span toggle="#password-field1" class="toggle-password"></span>
                        </div>
                        <button type="submit" class="btn_submit flex-center">Log in</button>
                    </form>
                    <div class="signup">
                        Don't have any account? <a href="javascript:;">Sign up here</a>
                    </div>
                </div>
                <div id="enterprise" class="tab-pane fade">
                    <form action="" method="">
                        <div class="form-group">
                            <label>Mã số thuế</label>
                            <input type="number" name="mst" placeholder="Mã số thuế ..." required>
                        </div>
                        <div class="form-group">
                            <label>Tên người dùng</label>
                            <input type="text" name="username" placeholder="Enter username ..." required>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input id="password-field2" type="password" name="password" placeholder="Enter passwords ..." required>
                            <span toggle="#password-field2" class="toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <label>Tên doanh nghiệp</label>
                            <input type="text" name="name" placeholder="Tên doanh nghiệp ..." required>
                        </div>
                        <button type="submit" class="btn_submit flex-center">Log in</button>
                    </form>
                    <div class="login">
                        Đã có tài khoản <a href="javascript:;" data-dismiss="modal" data-toggle="modal" data-target="#modal-login">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
