<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        var menu_ul = $('.faq .item__content');
        var menu_li = $('.faq .item__header');
        var menu_li_active = $('.item > .active');

        menu_ul.hide();
        menu_li_active.find('.faq .item__content').slideToggle();
        menu_li.click(function (e) {
            e.preventDefault();
            /*menu_li.parent().toggleClass('active');*/
            $(this).parent().toggleClass('active');
            /*menu_ul.slideUp();*/
            if (menu_ul.parent('.active')) {
                $(this).parent().find('.item__content').slideToggle();
            }
            return false;
        });
    });
</script>
</body>
</html>