<main>
    <div class="faq">
        <div class="container">
            <div class="header">
                <h2 class="title"><span class="black">Giải đáp</span> <span class="red">thắc mắc</span></h2>
                <p class="des">Giải đáp thắc mắc của bạn về kiến thức chuyển đổi số</p>
            </div>
            <div class="faq__list">
                <div class="item">
                    <div class="item__header">
                        <h4>Chuyển đổi số vì sao lại cần ?</h4>
                        <time>Sep 19 - 2020</time>
                        <p>Chuyển đổi số không chỉ giúp tăng năng suất, giảm chi phí mà còn mở ra không gian phát triển mới, tạo ra các giá trị mới ngoài các giá trị truyền thống vốn có.</p>
                    </div>
                    <div class="item__content">
                        <p>Kinh tế số đem lại lợi ích gì cho người dân?</p>
                        <p>Kinh tế số cho phép mỗi người dân có thể tiếp cận toàn bộ thị trường một cách nhanh chóng theo cách chưa từng có. Nếu như trước đây, người dân mang hàng ra chợ bán thì chỉ tiếp cận được vài chục đến vài trăm người trong khu vực địa lý hạn chế của mình. Còn hiện nay, với thương mại điện tử, người dân có thể bán hàng cho hàng triệu người, trên toàn thế giới.</p>
                        <p>Mỗi người dân với một chiếc điện thoại thông minh, mỗi hộ gia đình một đường cáp quang, là có thể trở thành một doanh nghiệp, là có thể tiếp cận cả thế giới. Ngư dân trong quá khứ vẫn thường mang số cá họ đánh bắt được hàng ngày ra chợ và ngồi nhìn chúng hư thối đi vào cuối ngày khi không có người mua, giờ đây, họ có thể giữ cá ở dưới sông và đợi cho khách hàng gọi điện. Một khi nhận được đơn hàng qua mạng, cá được lấy ra khỏi nước và chuẩn bị bán cho khách hàng. Hệ thống bưu chính, chuyển phát sẽ giao hàng tới tận tay người mua. Không cần phải mua một chiếc tủ đông lạnh, không còn rủi ro bán cá ươn với giá thấp có thể gây ngộ độc cho khách hàng và sẽ giảm cả tình trạng đánh bắt cá quá mức cần thiết.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header">
                        <h4>Chuyển đổi số vì sao lại cần ?</h4>
                        <time>Sep 19 - 2020</time>
                        <p>Chuyển đổi số không chỉ giúp tăng năng suất, giảm chi phí mà còn mở ra không gian phát triển mới, tạo ra các giá trị mới ngoài các giá trị truyền thống vốn có.</p>
                    </div>
                    <div class="item__content">
                        <p>Kinh tế số đem lại lợi ích gì cho người dân?</p>
                        <p>Kinh tế số cho phép mỗi người dân có thể tiếp cận toàn bộ thị trường một cách nhanh chóng theo cách chưa từng có. Nếu như trước đây, người dân mang hàng ra chợ bán thì chỉ tiếp cận được vài chục đến vài trăm người trong khu vực địa lý hạn chế của mình. Còn hiện nay, với thương mại điện tử, người dân có thể bán hàng cho hàng triệu người, trên toàn thế giới.</p>
                        <p>Mỗi người dân với một chiếc điện thoại thông minh, mỗi hộ gia đình một đường cáp quang, là có thể trở thành một doanh nghiệp, là có thể tiếp cận cả thế giới. Ngư dân trong quá khứ vẫn thường mang số cá họ đánh bắt được hàng ngày ra chợ và ngồi nhìn chúng hư thối đi vào cuối ngày khi không có người mua, giờ đây, họ có thể giữ cá ở dưới sông và đợi cho khách hàng gọi điện. Một khi nhận được đơn hàng qua mạng, cá được lấy ra khỏi nước và chuẩn bị bán cho khách hàng. Hệ thống bưu chính, chuyển phát sẽ giao hàng tới tận tay người mua. Không cần phải mua một chiếc tủ đông lạnh, không còn rủi ro bán cá ươn với giá thấp có thể gây ngộ độc cho khách hàng và sẽ giảm cả tình trạng đánh bắt cá quá mức cần thiết.</p>
                    </div>
                </div>
            </div>
            <div class="faq__form">
                <div class="header">
                    <h2>Bạn chưa tìm được câu hỏi của mình ?</h2>
                    <p>Nếu bạn chưa tìm được câu hỏi và câu trả lời thoả mãn mong muốn của mình ? <br> Đừng ngần ngại liên hệ chúng tôi</p>
                </div>
                <form action="" method="">
                    <div class="form-group">
                        <label>Tên người dùng</label>
                        <input type="text" name="username" placeholder="Enter username ..." required>
                    </div>
                    <div class="form-group">
                        <label>Email người dùng</label>
                        <input type="email" name="email" placeholder="Enter email ..." required>
                    </div>
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" name="title" placeholder="Enter title ..." required>
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        <textarea placeholder="Enter text ..." required></textarea>
                    </div>
                    <button type="submit" class="btn_submit flex-center">Gửi</button>
                </form>
            </div>
        </div>
    </div>
</main>