<main>
    <div class="banner flex pr">
        <div class="banner__content">
            <h4>Chương trình hỗ trợ SMEs</h4>
            <h2>Chuyển Đổi Số</h2>
            <p>Chương trình hỗ trợ khối doanh nghiệp nhỏ và vừa (SMEs) thực hiện chuyển đổi số, thu hẹp khoảng cách số và biến khó khăn thành cơ hội. Đồng hành và chia sẻ, chia sẻ lẫn nhau các giá trị mới để tạo ra sức mạnh chung</p>
            <div class="box-btn flex">
                <a href="" title="Đăng ký ngay" class="btn_register flex-center">Đăng ký ngay</a>
                <a href="" title="Xem thêm" class="btn_viewmore flex-center">Xem thêm </a>
            </div>
        </div>
        <div class="banner__img">
            <img src="./assets/img/finance_app_flatline.png" alt="">
        </div>
        <div class="scroll">
            <div class="scroll__icon"></div>
            <p>Scroll down</p>
        </div>
    </div>
    <div class="prize pr">
       <div class="container">
           <div class="header">
               <h2 class="title"><span class="black">Giải</span> <span class="red">Thưởng</span></h2>
               <p class="des">Các doanh nghiệp nhận giải thưởng năm có thể treo huy hiệu mà chương trình trao tặng lên website và các phương tiện quảng bá thương hiệu của mình. Các nền tảng mới ấn tượng sẽ được đề cử, giới thiệu để tiếp tục tham gia trở thành Nền tảng Chuyển đổi số Quốc gia trong giai đoạn tiếp theo</p>
           </div>
           <div class="prize__list flex">
               <article>
                   <a href="" class="img_thumb"><img src="./assets/img/prize1.png" alt=""></a>
                   <h3><a href="">Top 10 nền tảng SMEs uy tín nhất 2020</a></h3>
                   <p>Các doanh nghiệp nhận giải thưởng năm có thể treo huy hiệu mà chương trình trao tặng lên website...</p>
                   <a href="" title="" class="link_viewmore">Chi tiết</a>
               </article>
               <article>
                   <a href="" class="img_thumb"><img src="./assets/img/prize2.png" alt=""></a>
                   <h3><a href="">Các giải thưởng vinh danh SMEs xuất sắc</a></h3>
                   <p>Các doanh nghiệp nhận giải thưởng năm có thể treo huy hiệu mà chương trình trao tặng lên website...</p>
                   <a href="" title="" class="link_viewmore">Chi tiết</a>
               </article>
               <article>
                   <a href="" class="img_thumb"><img src="./assets/img/prize3.png" alt=""></a>
                   <h3><a href="">Hỗ trợ các doanh nghiệp chuyển đổi số</a></h3>
                   <p>Các doanh nghiệp nhận giải thưởng năm có thể treo huy hiệu mà chương trình trao tặng lên website...</p>
                   <a href="" title="" class="link_viewmore">Chi tiết</a>
               </article>
           </div>
           <a href="" title="See all" class="btn__seeall flex-center">See all</a>
       </div>
    </div>
    <div class="overview pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Tổng quan nền tảng</h2>
            </div>
            <ul class="overview__list flex">
                <li>
                    <div class="img-wrapper"><img src="./assets/img/connect.png" alt=""></div>
                    <span>Kết nối</span>
                </li>
                <li>
                    <div class="img-wrapper"><img src="./assets/img/provied.png" alt=""></div>
                    <span>Cung cấp</span>
                </li>
                <li>
                    <div class="img-wrapper"><img src="./assets/img/governing.png" alt=""></div>
                    <span>Quảng bá</span>
                </li>
                <li>
                    <div class="img-wrapper"><img src="./assets/img/advisory.png" alt=""></div>
                    <span>Tư vấn</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="features pr">
        <div class="container">
            <div class="header">
                <h2 class="title">
                    <span class="red block">Đặc điểm</span>
                    <span class="black">Nổi bật của chúng tôi</span>
                </h2>
                <p class="des"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
            </div>
            <div class="features__list row">
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="item">
                        <a href="">
                            <div class="img-wrapper"><img src="./assets/img/payment.png" alt=""></div>
                            <div class="text">Thanh toán số</div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="item">
                        <a href="">
                            <div class="img-wrapper"><img src="./assets/img/accountant.png" alt=""></div>
                            <div class="text">Kế toán</div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="item">
                        <a href="">
                            <div class="img-wrapper"><img src="./assets/img/governance.png" alt=""></div>
                            <div class="text">Quản Trị</div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="item">
                        <a href="">
                            <div class="img-wrapper"><img src="./assets/img/security.png" alt=""></div>
                            <div class="text">Bảo mật</div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="item">
                        <a href="">
                            <div class="img-wrapper"><img src="./assets/img/shop.png" alt=""></div>
                            <div class="text">Shop điện tử</div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="item">
                        <a href="">
                            <div class="img-wrapper"><img src="./assets/img/cskh.png" alt=""></div>
                            <div class="text">Cở sở khách hàng</div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="item">
                        <a href="">
                            <div class="img-wrapper"><img src="./assets/img/recruitment.png" alt=""></div>
                            <div class="text">Tuyển dụng</div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="item">
                        <a href="">
                            <div class="img-wrapper"><img src="./assets/img/service.png" alt=""></div>
                            <div class="text">Gói dịch vụ</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partner pr">
        <div class="container">
            <div class="header">
                <h2 class="title"><span class="black">Các đơn vị</span> <span class="red">tham gia</span></h2>
                <p class="des">Danh sách các nền tảng hỗ trợ chuyển đổi số xuất sắc tham gia vào chương trình.</p>
            </div>
            <div class="partner__list row">
                <div class="col-lg-4 col-md-4">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/misa.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/giga.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/onf.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/vnpay.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/momo.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/stringee.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/bizfly.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/ezclound.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/office.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
            </div>
            <a href="" title="See all" class="btn__seeall flex-center">See all</a>
        </div>
    </div>
    <div class="register pr">
        <div class="container">
            <div class="register__content">
                <h3>Bạn muốn tìm hiểu sâu hơn về thông tin các nền tảng ?</h3>
                <p>Đăng ký ngay bây giờ và để lại bình luận cho chúng tôi </p>
                <a href="" title="Đăng ký ngay" class="btn_register flex-center">Đăng ký ngay</a>
            </div>
        </div>
    </div>
    <div class="news pr">
        <div class="container">
            <div class="header">
                <h2 class="title"><span class="black">Tổng hợp</span> <span class="red">tin tức</span></h2>
                <p class="des">Tỏng hợp các tin tức về chuyển đổi số</p>
            </div>
            <ul class="news__tab nav flex">
                <li><a href="#all" data-toggle="tab" class="active" title="">Tin tức chung </a></li>
                <li><a href="#international" data-toggle="tab" title="">Quốc tế</a></li>
                <li><a href="#market" data-toggle="tab" title="">Thị Trường</a></li>
                <li><a href="#tech" data-toggle="tab" title="">Công nghệ</a></li>
                <li><a href="#web" data-toggle="tab" title="">Web Development</a></li>
                <li><a href="#photo" data-toggle="tab" title="">Photography</a></li>
            </ul>
            <div class="tab-content">
                <div id="all" class="tab-pane fade show active">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <article class="flex">
                                <a href="" class="img_thumb"><img src="./assets/img/img-news1.png" alt=""></a>
                                <div class="content">
                                    <h3><a href="">Bộ Công Thương muốn quản mạng xã hội như sàn thương mại điện tử.</a></h3>
                                    <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                    <a href="" class="link_more">more...</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="flex">
                                <a href="" class="img_thumb"><img src="./assets/img/img-news2.png" alt=""></a>
                                <div class="content">
                                    <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                    <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                    <a href="" class="link_more">more...</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="flex">
                                <a href="" class="img_thumb"><img src="./assets/img/img-news3.png" alt=""></a>
                                <div class="content">
                                    <h3><a href="">Bộ Công Thương muốn quản mạng xã hội như sàn thương mại điện tử.</a></h3>
                                    <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                    <a href="" class="link_more">more...</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="flex">
                                <a href="" class="img_thumb"><img src="./assets/img/img-news4.png" alt=""></a>
                                <div class="content">
                                    <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                    <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                    <a href="" class="link_more">more...</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="flex">
                                <a href="" class="img_thumb"><img src="./assets/img/img-news5.png" alt=""></a>
                                <div class="content">
                                    <h3><a href="">Bộ Công Thương muốn quản mạng xã hội như sàn thương mại điện tử.</a></h3>
                                    <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                    <a href="" class="link_more">more...</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="flex">
                                <a href="" class="img_thumb"><img src="./assets/img/img-news6.png" alt=""></a>
                                <div class="content">
                                    <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                    <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                    <a href="" class="link_more">more...</a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <a href="" title="See all" class="btn__seeall flex-center">See all</a>
                </div>
                <div id="international" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <article class="flex">
                                <a href="" class="img_thumb"><img src="./assets/img/img-news1.png" alt=""></a>
                                <div class="content">
                                    <h3><a href="">Bộ Công Thương muốn quản mạng xã hội như sàn thương mại điện tử.</a></h3>
                                    <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                    <a href="" class="link_more">more...</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <article class="flex">
                                <a href="" class="img_thumb"><img src="./assets/img/img-news2.png" alt=""></a>
                                <div class="content">
                                    <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                    <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                    <a href="" class="link_more">more...</a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <a href="" title="See all" class="btn__seeall flex-center">See all</a>
                </div>
                <div id="market" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <article class="flex">
                                <a href="" class="img_thumb"><img src="./assets/img/img-news1.png" alt=""></a>
                                <div class="content">
                                    <h3><a href="">Bộ Công Thương muốn quản mạng xã hội như sàn thương mại điện tử.</a></h3>
                                    <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                    <a href="" class="link_more">more...</a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <a href="" title="See all" class="btn__seeall flex-center">See all</a>
                </div>
            </div>
        </div>
    </div>
    <div class="logos pr">
        <div class="container">
            <ul class="logos__list flex">
                <li><a href=""><img src="./assets/img/bkh.jpg" alt=""></a></li>
                <li><a href=""><img src="./assets/img/bdt.jpg" alt=""></a></li>
                <li><a href=""><img src="./assets/img/vcci.jpg" alt=""></a></li>
                <li><a href=""><img src="./assets/img/vtv.jpg" alt=""></a></li>
                <li><a href=""><img src="./assets/img/vinasme.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>
</main>