<main>
    <div class="partner pb-50 pr">
        <div class="container">
            <div class="header">
                <h2 class="title"><span class="black">Các đơn vị</span> <span class="red">tham gia</span></h2>
                <p class="des">Danh sách các nền tảng hỗ trợ chuyển đổi số xuất sắc tham gia vào chương trình.</p>
            </div>
            <div class="partner__list row">
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/misa.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/giga.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/onf.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/vnpay.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/momo.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/stringee.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/bizfly.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/ezclound.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="logo"><img src="./assets/img/office.png" alt=""></div>
                        <p>Loreme are thoes a dress Ipsum has been the industry's standard dummy text ever since</p>
                        <a href="" title="Learn more" class="link_viewmore">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>