<main>
    <div class="news pr">
        <div class="container">
            <div class="header">
                <h2 class="title"><span class="black">Tổng hợp</span> <span class="red">tin tức</span></h2>
                <p class="des">Tỏng hợp các tin tức về chuyển đổi số</p>
            </div>
            <div class="news__detail">
                <h4 class="category">Mới nhất  | Doanh nghiệp</h4>
                <h2 class="title">Những góc nhìn sai lầm về chuyển đổi số của những doanh nghiệp vừa và nhỏ hiện tại</h2>
                <time>19:48 | 16/12/2020</time>
                <div class="likepage flex-center">
                    <button class="flex-center"><i class="icon-like"></i> Like <span>10</span></button>
                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=125&layout=button_count&action=like&size=large&share=false&height=40&appId" width="125" height="40" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
                <article>
                   <p> Tại Hội nghị chuyên đề Chuyển đổi số cho doanh nghiệp vừa và nhỏ (SMEs) nằm trong khuôn khổ Diễn đàn cấp cao về CNTT&TT - Ngày Chuyển đổi số Việt Nam 2020, diễn ra vào ngày 15/12, ông Nguyễn Văn Tuấn, Phó Tổng giám đốc VCCorp, nhà sáng lập Bizfly, nhận định rằng các doanh nghiệp vừa và nhỏ Việt Nam (SMEs) thường có 4 góc nhìn sai lầm lớn số.</p>
                    <p>4 điều mà ông Tuấn nhắc đến bao gồm: chuyển đổi số chỉ dành cho doanh nghiệp lớn; chuyển đổi số tốn nhiều tiền; chuyển đổi số triển khai càng nhiều càng tốt, tiến trình diễn ra nhanh chóng; chuyển đổi số là "chiếc đũa thần" giúp doanh nghiệp cất cánh ngay lập tức.</p>
                    <p>Ông dẫn một khảo sát của Hiệp hội Phần mềm và Dịch vụ Công nghệ thông tin Việt Nam, chỉ ra rằng các doanh nghiệp đang chuyển đổi số trên cả nước chiếm khoảng 15%.</p>
                    <p>Trong khi đó, phần lớn SMEs đang gặp khó khăn về vốn nên việc chuyển đổi số vẫn là sự "khao khát" của khoảng 72% SMEs. Số còn lại cho rằng chuyển đổi số là việc của các doanh nghiệp "lớn".</p>
                    <p>"Cách nhìn trên là hoàn toàn sai lầm vì không chỉ doanh nghiệp lớn mà các SMEs cũng cần chuyển đổi số. Bên cạnh đó, nhiều doanh nghiệp hiện đang sử dụng các công cụ như bán hàng online, bán hàng trên các sàn thương mại điện tử, dùng chatbot hoặc các hệ thống tự động hoá... đó cũng là chuyển đổi số nhưng họ chưa ý thức được chuyện này", ông Tuấn chia sẻ.</p>
                    <img src="./assets/img/nvt.png" alt="">
                    <p>Khi không có các công cụ hỗ trợ chuyển đổi số, doanh nghiệp thường mắc phải những vấn đề nan giải như không hiểu hành vi của khách hàng, chi phí marketing tăng nhưng doanh thu không tăng, khó mở rộng kênh phân phối và bán hàng, thiếu nhân sự có chuyên môn, thiếu tài chính và không có đủ dữ liệu.</p>
                    <p>Theo ông, đối với các doanh nghiệp nhỏ hay siêu nhỏ, một năm chi phí cho quá trình chuyển đổi số chỉ tốn vài chục triệu đồng, tương ứng trung bình khoảng 1 - 2 triệu/tháng, chưa bằng tiền lương trả cho một nhân viên cấp thấp trong công ty. Nếu dùng các giải pháp chuyển đổi số, doanh nghiệp bớt được một nhân sự thì họ đã hòa vốn.Theo ông, đối với các doanh nghiệp nhỏ hay siêu nhỏ, một năm chi phí cho quá trình chuyển đổi số chỉ tốn vài chục triệu đồng, tương ứng trung bình khoảng 1 - 2 triệu/tháng, chưa bằng tiền lương trả cho một nhân viên cấp thấp trong công ty. Nếu dùng các giải pháp chuyển đổi số, doanh nghiệp bớt được một nhân sự thì họ đã hòa vốn.</p>
                </article>
                <div class="tags flex">
                    <h5>Tags :</h5>
                    <a href="">VCCorps</a> <a href="">VCCorps</a> <a href="">VCCorps</a>
                </div>
            </div>
            <div class="readlot">
                <h4 class="news__title">Đề xuất</h4>
                <article class="flex">
                    <a href="" class="img_thumb"><img src="./assets/img/img-news1.png" alt=""></a>
                    <div class="content">
                        <h3><a href="">Lỡ tay vứt ổ cứng chứa 7.500 Bitcoin, anh kĩ sư quyết chi 72 triệu USD để xới tung bãi rác tìm 'kho báu'</a></h3>
                        <time>4 giờ trước</time>
                    </div>
                </article>
                <article class="flex">
                    <a href="" class="img_thumb"><img src="./assets/img/img-news1.png" alt=""></a>
                    <div class="content">
                        <h3><a href="">Lỡ tay vứt ổ cứng chứa 7.500 Bitcoin, anh kĩ sư quyết chi 72 triệu USD để xới tung bãi rác tìm 'kho báu'</a></h3>
                        <time>4 giờ trước</time>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>