<main>
    <div class="news pr">
        <div class="container">
            <div class="header">
                <h2 class="title"><span class="black">Tổng hợp</span> <span class="red">tin tức</span></h2>
                <p class="des">Tỏng hợp các tin tức về chuyển đổi số</p>
            </div>
            <ul class="news__tab nav mb-45 flex">
                <li><a href="#all" data-toggle="tab" class="active" title="">Tin tức chung </a></li>
                <li><a href="#enterprise" data-toggle="tab" title="">Doanh nghiệp</a></li>
                <li><a href="#market" data-toggle="tab" title="">Thị Trường</a></li>
                <li><a href="#tech" data-toggle="tab" title="">Công nghệ</a></li>
                <li><a href="#web" data-toggle="tab" title="">Web Development</a></li>
                <li><a href="#photo" data-toggle="tab" title="">Photography</a></li>
            </ul>
            <div class="tab-content">
                <div id="all" class="tab-pane fade show active">
                    <div class="latest">
                        <h4 class="news__title">Mới nhất</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <article class="hightlight">
                                    <a href="" class="img_thumb"><img src="./assets/img/img-news1.png" alt=""></a>
                                    <div class="content">
                                        <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                        <p>BizFly là bộ giải pháp tổng thể do Công ty VCCorp triển khai, giúp các doanh nghiệp SME cắt giảm chi phí, nâng cao hiệu quả khi kinh doanh, tiếp cận và chăm sóc khách hàng trực tuyến. Đa số SMEs truyền thống thiếu nhân sự có đủ chuyên môn để vận hành và quản lý từng phần mềm riêng lẻ, chi phí cho các phần mềm....</p>
                                        <a href="" class="link_more">more...</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <article class="flex">
                                    <a href="" class="img_thumb"><img src="./assets/img/img-news2.png" alt=""></a>
                                    <div class="content">
                                        <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                        <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                        <a href="" class="link_more">more...</a>
                                    </div>
                                </article>
                                <article class="flex">
                                    <a href="" class="img_thumb"><img src="./assets/img/img-news3.png" alt=""></a>
                                    <div class="content">
                                        <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                        <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                        <a href="" class="link_more">more...</a>
                                    </div>
                                </article>
                                <article class="flex">
                                    <a href="" class="img_thumb"><img src="./assets/img/img-news4.png" alt=""></a>
                                    <div class="content">
                                        <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                        <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                        <a href="" class="link_more">more...</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="readlot">
                        <h4 class="news__title">Đọc nhiều</h4>
                        <article class="flex">
                            <a href="" class="img_thumb"><img src="./assets/img/img-news1.png" alt=""></a>
                            <div class="content">
                                <h3><a href="">Lỡ tay vứt ổ cứng chứa 7.500 Bitcoin, anh kĩ sư quyết chi 72 triệu USD để xới tung bãi rác tìm 'kho báu'</a></h3>
                                <time>4 giờ trước</time>
                                <p>Một kĩ sư máy tính tuyên bố sẽ tặng thành phố Newport (Xứ Wales) 72 triệu USD để đối lấy quyền..lục tung bãi rác thành phố - nơi được cho là đang "ẩn giấu" một chiếc ổ cứng có chứa 7.500 Bitcoin bên trong</p>
                            </div>
                        </article>
                        <article class="flex">
                            <a href="" class="img_thumb"><img src="./assets/img/img-news2.png" alt=""></a>
                            <div class="content">
                                <h3><a href="">“Thời tới cản không nổi” GoStream: Trở thành quán quân Techfest và nhận 1 triệu USD trong vòng gọi vốn Series A từ VinaCapital Ventures</a></h3>
                                <time>4 giờ trước</time>
                                <p>Một kĩ sư máy tính tuyên bố sẽ tặng thành phố Newport (Xứ Wales) 72 triệu USD để đối lấy quyền..lục tung bãi rác thành phố - nơi được cho là đang "ẩn giấu" một chiếc ổ cứng có chứa 7.500 Bitcoin bên trong</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div id="enterprise" class="tab-pane fade">
                    <div class="latest">
                        <h4 class="news__title">Mới nhất</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <article class="hightlight">
                                    <a href="" class="img_thumb"><img src="./assets/img/img-news6.png" alt=""></a>
                                    <div class="content">
                                        <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                        <p>BizFly là bộ giải pháp tổng thể do Công ty VCCorp triển khai, giúp các doanh nghiệp SME cắt giảm chi phí, nâng cao hiệu quả khi kinh doanh, tiếp cận và chăm sóc khách hàng trực tuyến. Đa số SMEs truyền thống thiếu nhân sự có đủ chuyên môn để vận hành và quản lý từng phần mềm riêng lẻ, chi phí cho các phần mềm....</p>
                                        <a href="" class="link_more">more...</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <article class="flex">
                                    <a href="" class="img_thumb"><img src="./assets/img/img-news2.png" alt=""></a>
                                    <div class="content">
                                        <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                        <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                        <a href="" class="link_more">more...</a>
                                    </div>
                                </article>
                                <article class="flex">
                                    <a href="" class="img_thumb"><img src="./assets/img/img-news3.png" alt=""></a>
                                    <div class="content">
                                        <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                        <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                        <a href="" class="link_more">more...</a>
                                    </div>
                                </article>
                                <article class="flex">
                                    <a href="" class="img_thumb"><img src="./assets/img/img-news4.png" alt=""></a>
                                    <div class="content">
                                        <h3><a href="">Những góc nhìn sai lầm của doanh nghiệp về chuyển đổi số.</a></h3>
                                        <p>Theo dự thảo sửa đổi Nghị định 52 về thương mại điện tử của Bộ Công Thương, các hình thức hoạt động của sàn giao dịch thương mại điện tử gồm: website cho người tham gia</p>
                                        <a href="" class="link_more">more...</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="readlot">
                        <h4 class="news__title">Đọc nhiều</h4>
                        <article class="flex">
                            <a href="" class="img_thumb"><img src="./assets/img/img-news1.png" alt=""></a>
                            <div class="content">
                                <h3><a href="">Lỡ tay vứt ổ cứng chứa 7.500 Bitcoin, anh kĩ sư quyết chi 72 triệu USD để xới tung bãi rác tìm 'kho báu'</a></h3>
                                <time>4 giờ trước</time>
                                <p>Một kĩ sư máy tính tuyên bố sẽ tặng thành phố Newport (Xứ Wales) 72 triệu USD để đối lấy quyền..lục tung bãi rác thành phố - nơi được cho là đang "ẩn giấu" một chiếc ổ cứng có chứa 7.500 Bitcoin bên trong</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>