<main>
    <div class="profile pr">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h2 class="title">Nền tảng đồng hành  |  BizFly</h2>
                    <div class="info flex">
                        <div class="info__img flex-center">
                            <img src="./assets/img/biz.png" alt="">
                        </div>
                        <div class="info__content">
                            <h4>Biz Fly Việt Nam</h4>
                            <p>Doanh nghiệp đã được xác minh</p>
                            <div class="box-btn flex">
                                <div class="likepage flex-center">
                                    <button class="flex-center"><i class="icon-like"></i> Like <span>10</span></button>
                                    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=125&layout=button_count&action=like&size=large&share=false&height=40&appId" width="125" height="40" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                </div>
                                <a href="Đăng ký ngay" title="" class="btn_register flex-center">Đăng ký ngay <span>01</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <h5>Giới thiệu doanh nghiệp</h5>
                        <p>BizFly là bộ giải pháp tổng thể do Công ty VCCorp triển khai, giúp các doanh nghiệp SME cắt giảm chi phí, nâng cao hiệu quả khi kinh doanh, tiếp cận và chăm sóc khách hàng trực tuyến. Đa số SMEs truyền thống thiếu nhân sự có đủ chuyên môn để vận hành và quản lý từng phần mềm riêng lẻ, chi phí cho các phần mềm cũng chính là nguyên nhân lớn khiến các SMEs chậm trễ trong việc sử dụng các giải pháp chuyển đổi số. Bizfly nền tảng cung cấp đồng bộ các giải pháp chuyển đổi số đơn giản, dễ sử dụng, phù hợp với nhiều doanh nghiệp.</p>
                        <p>BizzFly cam kết bảo mật thông tin khách hàng tuyệt đối, đồng bộ các giải pháp như Smart Website, Chatbot, CRM..., qua đó kết nối bền chặt mối quan hệ giữa khách hàng và doanh nghiệp.</p>
                        <h5>Chính sách ưu đãi   & Điều khoản sử dụng</h5>
                        <p>
                            <span>- Miễn phí vĩnh viễn gói Chatbot cơ bản;</span>
                            <span>- Nếu ký hợp đồng 6 tháng thì tặng thêm 6 tháng sử dụng với mọi dịch vụ đóng gói của Bizfly (CRM, Chatbot, Webfly, Loyalty, Billing...).</span>
                        </p>
                    </div>
                    <div class="post">
                        <h4 class="post__title">Bài đăng của doanh nghiệp</h4>
                        <div class="post__list">
                            <article>
                                <a href="" class="img-thumb"><img src="./assets/img/img-news1.png" alt=""></a>
                                <h3><a href="">Ra mắt tính năng Biz Chat năm 2020 , người dùng tự do tương tác</a></h3>
                                <p>Các doanh nghiệp nhận giải thưởng năm có thể treo huy hiệu mà chương trình trao tặng lên trên website doanh nghiệp</p>
                            </article>
                            <article>
                                <a href="" class="img-thumb"><img src="./assets/img/img-news2.png" alt=""></a>
                                <h3><a href="">Ra mắt tính năng Biz Chat năm 2020 , người dùng tự do tương tác</a></h3>
                                <p>Các doanh nghiệp nhận giải thưởng năm có thể treo huy hiệu mà chương trình trao tặng lên trên website doanh nghiệp</p>
                            </article>
                            <article>
                                <a href="" class="img-thumb"><img src="./assets/img/img-news3.png" alt=""></a>
                                <h3><a href="">Ra mắt tính năng Biz Chat năm 2020 , người dùng tự do tương tác</a></h3>
                                <p>Các doanh nghiệp nhận giải thưởng năm có thể treo huy hiệu mà chương trình trao tặng lên trên website doanh nghiệp</p>
                            </article>
                            <article>
                                <a href="" class="img-thumb"><img src="./assets/img/img-news4.png" alt=""></a>
                                <h3><a href="">Ra mắt tính năng Biz Chat năm 2020 , người dùng tự do tương tác</a></h3>
                                <p>Các doanh nghiệp nhận giải thưởng năm có thể treo huy hiệu mà chương trình trao tặng lên trên website doanh nghiệp</p>
                            </article>
                        </div>
                    </div>
                    <div class="feedback">
                        <h4 class="feedback__title">Phản hồi về doanh nghiệp</h4>
                        <div class="feedback__list">
                            <div class="item">
                                <div class="header flex-lc">
                                    <div class="avatar flex-center" style="background: #DC4646"><span>L</span></div>
                                    <div class="user">
                                        <h5>Minh Hoang Le</h5>
                                        <div class="rating"><div class="rating__value" style="width: 60%;"></div></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Sau một thời gian trải nghiệm dịch vụ của FLyBiz mình cảm thấy dịch vụ của doanh nghiệp rất ổnsao, ủng hộ hàng việt nam, Việt nam vô địch, chúc doanh nghiêp ngày càng thành công hơn trên con đường hội nhập quốc  tế.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="header flex-lc">
                                    <div class="avatar flex-center" style="background: #2196F3"><span>X</span></div>
                                    <div class="user">
                                        <h5>Minh Hoang Le</h5>
                                        <div class="rating"><div class="rating__value" style="width: 60%;"></div></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <p>Sau một thời gian trải nghiệm dịch vụ của FLyBiz mình cảm thấy dịch vụ của doanh nghiệp rất ổnsao, ủng hộ hàng việt nam, Việt nam vô địch, chúc doanh nghiêp ngày càng thành công hơn trên con đường hội nhập quốc  tế.</p>
                                </div>
                            </div>
                        </div>
                        <form action="" class="feedback__form pr">
                            <textarea placeholder="Leave your comment here ..."></textarea>
                            <button type="submit" class="btn_submit flex-center">Gửi</button>
                            <div class="star-rating">
                                <input type="radio" name="rating" value="1"><i></i>
                                <input type="radio" name="rating" value="2"><i></i>
                                <input type="radio" name="rating" value="3"><i></i>
                                <input type="radio" name="rating" value="4"><i></i>
                                <input type="radio" name="rating" value="5"><i></i>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="postmedia">
                        <h2>Truyền thông nói gì <br> về chung tôi?</h2>
                        <div class="postmedia__list">
                            <article>
                                <a href="" class="img-thumb"><img src="./assets/img/img-news1.png" alt=""></a>
                                <h3><a href="">Top 10 nền tảng SMEs uy tín nhất 2020</a></h3>
                                <p>Các doanh nghiệp nhận giải thưởng năm có thể treo huy hiệu mà chương trình trao tặng lên website...</p>
                                <a href="" title="Chi tiết" class="link_viewmore">Chi tiết</a>
                            </article>
                            <article>
                                <a href="" class="img-thumb"><img src="./assets/img/img-news2.png" alt=""></a>
                                <h3><a href="">Top 10 nền tảng SMEs uy tín nhất 2020</a></h3>
                                <p>Các doanh nghiệp nhận giải thưởng năm có thể treo huy hiệu mà chương trình trao tặng lên website...</p>
                                <a href="" title="Chi tiết" class="link_viewmore">Chi tiết</a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>