:root{
  --red: #DC4646;
  --redhover: #9b2b2b;
  --sfm: SFProDisplay-Medium, sans-serif;
  --sfl: SFProDisplay-Light, sans-serif;
  --sfb: SFProDisplay-Bold, sans-serif;
}
body{
  background: #fff;
  font-size: 16px;
  font-family: SFProDisplay-Regular, sans-serif;
  line-height: 1.4;
}

body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url("#{$font-path}/SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: SFProDisplay-Bold;
  src: url("#{$font-path}/SFProDisplay-Bold.ttf");
}
@font-face {
  font-family: SFProDisplay-Light;
  src: url("#{$font-path}/SFProDisplay-Light.ttf");
}
@font-face {
  font-family: SFProDisplay-Medium;
  src: url("#{$font-path}/SFProDisplay-Medium.ttf");
}

//uikit
img{max-width: 100%;}
a{transition: .25s;}
.title{
  text-align: center;
  font: 36px/43px SFProDisplay-Bold, sans-serif;
  color: #000;
  .black{opacity: .75;}
  .red{color: #DC4646; opacity: 1;}
  .block{display: block;}
}
.des{
  max-width: 1055px; margin: 6px auto;
  font: 16px/26px SFProDisplay-Light, sans-serif;
  color: #000; text-align: center;
  opacity: .55;
}
.img_thumb{
  display: block; position: relative; overflow: hidden;
  img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; transition: 1s;}
  &:hover img{transform: scale(1.05);}
}
.img-thumb{
  display: block; overflow: hidden; border-radius: 12px;
  img{transition: .8s;}
  &:hover img{transform: scale(1.08);}
}
.btn__seeall{
  width: 108px;
  height: 42px;
  margin: 50px auto 0;
  background: #DC4646;
  border-radius: 13px;
  font-family: SFProDisplay-Bold, sans-serif;
  color: #fff;
  &:hover{color: #000; border: 1px solid #DC4646; background: #fff;}
}
button{
  cursor: pointer; border: none;
  &:focus{outline: none;}
}
a:hover{text-decoration: none;}
.pr{position: relative;}
.row-between{justify-content: space-between;}
.pb-50{padding-bottom: 50px;}
.pt-100{padding-top: 100px !important;}
.mb-45{margin-bottom: 45px;}
.likepage{
  background: #2196F3; position: relative;
  iframe{opacity: 0; position: absolute; top: 0; left: 0;}
  button{background: none; color: #fff;}
  span{background: #fff; color: #2196F3;}
  .icon-like{width: 16px; height: 14px; display: block; margin-right: 3px; background: url("#{$img-path}/icon-like.png") no-repeat 0 0/contain;}
}

//header
header{
  width: 100%; position: fixed; top: 0; z-index: 9; background: #fff; box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.05);
  &.scroll{
    .navbar-nav a{line-height: 55px;}
  }
  .login{
    margin-left: vw(100px);
    &__after{font: 15px var(--sfb); color: #db6061;}
    &__before{display: none;}
  }
}
main{margin-top: 80px;}
.navbar{
  padding: 0 vw(180px); transition: all .3s ease;
  .logo{display: block; width: 90px; margin: 0 auto;}
  .btn_login{
    width: 125px; height: 46px;
    background: #DC4646;
    border-radius: 13px;
    font: 16px SFProDisplay-Medium, sans-serif;
    color: #fff; transition: .25s;
    &:hover{background: #9b2b2b;}
  }
  .btn_login_m{display: none;}
}
.navbar-nav{
  margin-left: auto;
  li{padding-top: 5px; margin: 0 vw(35px);}
  a{
    display: block; padding: 0 10px;
    color: #696969; font: 15px/75px var(--sfm);
    transition: all .25s ease; position: relative;
    &::after{
      content: "";
      width: 100%; height: 4px; border-radius: 4px;
      background: #DC4646;
      position: absolute; bottom: 0; left: 0; opacity: 0; transition: .25s;
    }
  }
  a:hover,.active{
    text-shadow: .5px 0 0 currentColor;
    &::after{opacity: 1;}
  }
}

//main
.banner{
  width: 100%;
  min-height: vw(955px);
  background:#e56565 url("#{$img-path}/bg-s1.png") no-repeat 0 0/cover;
  justify-content: space-between; align-items: center; flex-wrap: nowrap;
  padding: 30px vw(180px);
  &__img{width: vw(708px); padding-right: 30px;}
  &__content{width: vw(834px); color: #fff;}
  h4{font-size: 36px; line-height: 55px;}
  h2{margin-bottom: 26px; font: 72px SFProDisplay-Bold, sans-serif;}
  p{max-width: 496px; font: 18px/28px SFProDisplay-Light, sans-serif;}
  .box-btn{
    margin-top: 80px;
    a{
      width: 207px; height: 50px; font: 21px SFProDisplay-Bold, sans-serif; color: #fff;
      border: 2px solid #FFFFFF;
      border-radius: 13px;
      transition: .25s;
    }
    .btn_register{
      background: #fff; color: #DC4646;
      &:hover{background: none; color: #fff;}
    }
    .btn_viewmore{
      margin-left: 10px;
      &:hover{background: #fff; color: #DC4646;}
    }
  }
  .scroll{
    position: absolute; left: 50%; transform: translateX(-50%); bottom: vw(80px);
    &__icon{
      width: 30px; height: 30px; margin: 0 auto 6px; background: #fff; border-radius: 50%; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); position: relative;
      &::after{
        content: "";
        width: 10px; height: 10px; margin: 0 auto;
        background: url("#{$img-path}/arr.png") no-repeat 0 0/contain;
        position: absolute; top: 10px; left: 0; right: 0;
        animation: movey 1.5s infinite linear;
      }
    }
    p{margin-bottom: 0; font: 12px SFProDisplay-Bold, sans-serif; color: #fff; text-align: center; white-space: nowrap;}
  }
}
.prize{
  padding-top: vw(100px);
  .header{margin-bottom: vw(80px);}
  &__list{justify-content: space-between;}
  article{
    max-width: 300px;
    text-align: center;
    h3{font: 16px/19px SFProDisplay-Bold, sans-serif;}
    h3 a{color: #000; opacity: .75;}
    h3 a:hover{color: #DC4646;}
    p{font: 16px/19px SFProDisplay-Light, sans-serif; opacity: .55;}
  }
  .img_thumb{max-width: 285px; margin: 0 auto; padding-bottom: 83.35%; box-shadow: 0px 1px 15px -1px rgba(0, 0, 0, 0.11); border-radius: 13px;}
  .link_viewmore{
    display: inline-block; margin-top: 15px; font-family: SFProDisplay-Light, sans-serif; color: #DC4646; line-height: 24px; border-bottom: 1px solid;
    &:hover{color: #000;}
  }
}
.overview{
  margin-top: vw(150px);
  .title{font: 24px/29px SFProDisplay-Bold, sans-serif; opacity: .65;}
  &__list{
    margin-top: 50px;
    justify-content: space-between;
    li{padding: 0 15px; text-align: center;}
    .img-wrapper{height: 190px; display: flex; align-items: center;}
    span{display: block; font: 24px/29px SFProDisplay-Bold, sans-serif;}
  }
}
.features{
  margin-top: vw(125px);
  padding: vw(95px) 0 vw(170px);
  background: linear-gradient(1.9deg, rgba(248, 168, 168, 0) 1.42%, #FFE7E7 101.86%);
  .des{max-width: 690px; margin: 13px auto 58px; opacity: .65;}
  .item{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    min-height: 250px; margin: 15px 0;
    background: #fff;
    box-shadow: 0px 16px 13px 2px rgba(0, 0, 0, 0.07);
    border-radius: 13px;
    border: 1px solid #E8E8E8; transition: .25s;
    &:hover{
      box-shadow: 0px 16px 13px 2px rgba(0, 0, 0, 0.07), 0px 16px 13px 2px rgba(0, 0, 0, 0.07);
      .text{opacity: 1;}
    }
  }
  img{display: block; margin: 0 auto;}
  .text{display: block; margin-top: 25px; text-align: center;  font: 18px/24px SFProDisplay-Bold, sans-serif; color: #000; opacity: 0.65;}
  a:hover{opacity: 1;}
}
.partner{
  padding-top: vw(120px);
  &__list{
    margin-top: 65px;
    font-size: 15px; line-height: 26px; color: #000;
    .item{
      max-width: 345px; padding: 18px 10px 28px; margin: 15px auto; text-align: center; background: #fff; transition: .25s;
      &:hover{
        box-shadow: 0px 1px 15px -1px rgba(0, 0, 0, 0.17); border-radius: 18px;
        .link_viewmore{opacity: .75;}
      }
    }
    p{margin-bottom: 4px; opacity: .41;}
    .link_viewmore{
      display: inline-block; margin-top: 4px; opacity: .35; color: #000; border-bottom: 1px solid;
      &:hover{opacity: .75;}
    }
  }
  .logo{display: flex; justify-content: center; margin-bottom: 20px;}
}
.register{
  width: 100%; height: 265px;
  padding: 52px 0;
  margin-top: vw(120px);
  background: #cd4646 url("#{$img-path}/bg-res.png") no-repeat 0 0/cover;
  color: #fff; text-align: center;
  h3{margin-bottom: 5px; font: 24px/29px SFProDisplay-Bold, sans-serif;}
  p{font: 18px/21px SFProDisplay-Light, sans-serif;}
  .btn_register{
    width: 158px; height: 52px;
    margin: 48px auto 0;
    background: #FFFFFF;
    border-radius: 13px;
    font: 18px SFProDisplay-Bold, sans-serif;
    color: #DC4646; text-transform: uppercase;
    &:hover{color: #000;}
  }
}
.news{
  padding-top: vw(100px);
  .des{opacity: .65;}
  article{
    margin: 45px 0;
    .img_thumb{
      width: 285px; height: 160px; border-radius: 13px;
      img{position: relative;}
    }
    .content{width: calc(100% - 285px); padding: 0 5px 0 30px; margin-top: 0;}
    h3{margin-bottom: 5px; font: 16px/19px SFProDisplay-Medium, sans-serif;}
    h3 a{color: #000; opacity: .75;}
    h3 a:hover{color: #DC4646;}
    p{display: initial; font: 14px/26px SFProDisplay-Light, sans-serif; color: #000; opacity: .65;}
    .link_more{color: #DC4646; font: italic 14px SFProDisplay-Light, sans-serif;}
  }
  &__title,.category{
    display: flex; align-items: center;
    margin-top: 45px;
    font: 18px/21px var(--sfb); color: #8e8b8b; position: relative;
    &::before{
      content: "";
      width: 4px; height: 19px;
      margin-right: 10px;
      background: var(--red);
      border-radius: 2px;
      display: block;
    }
  }
  &__tab{
    margin: 45px 0 20px;
    justify-content: center;
    li{margin: 0 13px;}
    a{
      display: block; font: 16px/46px SFProDisplay-Medium, sans-serif; color: #000; opacity: .65;
      border-bottom: 2px solid transparent;
    }
    .active{color: #DC4646; opacity: 1; border-bottom: 2px solid #DC4646;}
  }
  &__detail{
    .likepage{width: 82px; height: 32px;}
    .category{margin: vw(70px) 0;}
    .title{margin-bottom: 5px; font-size: vw(36px); text-align: left; opacity: .75;}
    time{font-size: 16px; line-height: 26px; opacity: .65;}
    .likepage{
      width: 82px; height: 32px; margin-top: 15px; border-radius: 9px; font-size: 11px;
      span{margin-left: 8px; background: #fff; color: #2196F3; border-radius: 50%; padding: 2px; font: 9px var(--sfb);}
      .icon-like{width: 10px; height: 9px; margin-right: 2px;}
    }
    article{
      margin: 38px 0;
      p{display: block; margin-bottom: 15px; font-size: 16px; line-height: 28px;}
    }
  }
  .hightlight{
    .img_thumb{width: 100%; height: 340px;}
    .content{
      width: 100%;
      padding: 0;
      margin-top: 20px;
    }
    h3{margin-bottom: 15px; font: vw(36px) var(--sfb); line-height: vw(43px); opacity: .95;}
    p{font-size: 16px; line-height: 28px;}
  }
  .latest article{margin: 40px 0;}
  .readlot{
    margin-top: 60px;
    article{
      h3{font: vw(24px) var(--sfb); line-height: vw(29px);}
      p{line-height: 28px; font-size: 16px;}
      time{display: block; margin-bottom: 3px; opacity: .5;}
    }
  }
  .tags{
    h5,a{opacity: .55;}
    h5{font: 16px/28px var(--sfm);}
    a{height: 30px; padding: 0 18px; margin-left: 20px; font-size: 14px; color: #000; background: #EBEBEB; border-radius: 8px; line-height: 28px;}
    a:hover{background: #d6d3d3;}
  }
}
.logos{
  margin-top: vw(120px);
  background: #ededed;
  padding: 50px 0;
  &__list{align-items: center;}
  li{width: 20%; padding: 0 vw(40px);}
  a{display: block;}
}

//category
.profile{
  padding: 50px 0;
  .title{text-align: left; opacity: .65; font: 18px/21px var(--sfb);}
  .info{
    margin: 50px 0;
    align-items: center;
    &__img{width: 126px; height: 126px; padding: 10px; margin-right: 30px; background: #FFFFFF; border-radius: 13px; box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.05);}
    h4{
      display: inline-block; padding-right: 30px;
      color: #404040; font: vw(36px) var(--sfb); line-height: vw(43px);
      background: url("#{$img-path}/tick.png") no-repeat right center;
    }
    p{font: 14px/17px SFProDisplay-Light, sans-serif; color: #2196F3;}
  }
  .box-btn{
    margin-top: 20px;
    .likepage,.btn_register{
      width: 125px; height: 40px; border-radius: 12px; font: 16px var(--sfm);
      span{margin-left: 15px; padding: 2px;  border-radius: 50%; font: 12px var(--sfb);}
    }
    .btn_register{
      width: auto;
      padding: 0 10px;
      margin-left: 10px;
      border: 1px solid #2196F3; color: #2196F3;
      span{background: #2196F3; color: #fff;}
    }
  }
  .text{
    border-bottom: 1px solid #DDDDDD;
    h5{margin-bottom: 14px; font: 18px/21px SFProDisplay-Bold, sans-serif; opacity: .55;}
    p{margin-bottom: 32px; line-height: 28px; opacity: .4;}
    span{display: block;}
  }
  .post{
    margin-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #ddd;
    article{max-width: 315px; padding: 0 12px;}
    h3{margin-bottom: 6px; font: 14px/17px SFProDisplay-Bold, sans-serif;}
    p,h3 a{color: #000; opacity: .55;}
    h3 a:hover{color: #DC4646;}
    a:focus{outline: none;}
    p{margin-top: 5px; font: 14px/21px SFProDisplay-Light, sans-serif;}
  }
  .post,.feedback{
    &__title{margin-bottom: 40px; font: 18px/21px SFProDisplay-Bold, sans-serif; opacity: .55;}
  }
  .feedback{
    margin: 70px 0;
    .avatar{
      width: 35px; height: 35px; border-radius: 50%; margin-right: 12px;
      span{color: #fff; font: 18px SFProDisplay-Bold, sans-serif;}
      img{width: 100%; height: 100%; object-fit: cover;}
    }
    .content{margin-top: 14px; font-family: var(--sfl); line-height: 22px; opacity: .5;}
    .rating{
      height: 12px; width: 70px; background: url("#{$img-path}/star2.png"); position: relative;
      &__value{height: 100%; background: url("#{$img-path}/star1.png"); position: absolute; left: 0; top: 0;}
    }
    .item{margin-bottom: 24px;}
    &__form{
      margin-top: 60px;
      textarea{
        width: 100%;
        padding: 20px 18px 10px;
        min-height: 120px;
        background: #FFFFFF;
        border: 1px solid #CACACA;
        border-radius: 13px;
        font-size: 14px; line-height: 21px; color: #333;
        &::placeholder{opacity: .35;}
        &:focus{outline: none;}
      }
      .btn_submit{
        width: 80px; height: 37px;
        margin-top: 13px;
        background: #2196F3;
        border-radius: 10px;
        font-size: 14px; color: #fff;
        float: right;
        transition: .25s;
        &:hover{background: #1068ad;}
      }
    }
    h5{margin-bottom: 2px; font: 16px/19px SFProDisplay-Bold, sans-serif; opacity: .55; text-transform: capitalize;}
  }
  .postmedia{
    float: right;
    h2{margin-bottom: 42px; font: 18px/21px var(--sfb); opacity: .55; text-align: right; max-width: 285px;}
    article{margin-bottom: 35px; max-width: 285px; text-align: right;}
    h3{margin: 15px 0 10px; font: 16px/19px var(--sfb);}
    h3 a{color: #000; opacity: .75;}
    h3 a:hover{color: #DC4646;}
    p,.link_viewmore{margin-top: 0; font: 16px/24px var(--sfl); opacity: .55;}
    .link_viewmore{color: #DC4646; opacity: 1; border-bottom: 1px solid;}
  }
  .slick-arrow{
    width: 35px; height: 35px;
    background: #fff url("#{$img-path}/next.png") no-repeat center center;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.05);
    border-radius: 50%; font-size: 0; border: none;
    position: absolute; top: 62px; z-index: 9;
    &:focus{outline: none;}
  }
  .slick-prev{left: -75px; transform: rotate(180deg);}
  .slick-next{right: -75px; }
  .slick-disabled{opacity: 0; visibility: hidden;}
}
.faq{
  padding: 85px 0;
  .header{margin-bottom: 85px;}
  &__form{
    margin-top: 100px;
    text-align: center;
    .header{margin-bottom: 65px;}
    h2{margin-bottom: 5px; font: 36px var(--sfb); opacity: .65;}
    p{font: 18px/22px var(--sfl); opacity: .45;}
  }
  .item{
    margin-bottom: 30px;
    padding: 20px 30px 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    &.active .item__header::after{transform: rotate(90deg);}
    &__header{
      padding: 0 70px 10px 0; position: relative; cursor: pointer;
      &::after{
        content: "";
        width: 30px; height: 30px;
        background: url("#{$img-path}/arr1.png") no-repeat;
        position: absolute; top: 12px; right: 25px;
        transition: transform .2s linear;
      }
    }
    &__content{
      display: none; padding: 10px 0 20px;
      height: 300px; overflow: auto;
      > *{padding-right: 20px;}
      &::-webkit-scrollbar{width: 8px; }
      &::-webkit-scrollbar-thumb{background: #F5F5F5; border-radius: 6px;}
      &::-webkit-scrollbar-track{background: #fff;}
    }
    h4{font: 24px/29px var(--sfb); opacity: .65;}
    time{display: block; margin-bottom: 5px; font: 15px/28px var(--sfl); opacity: .45;}
    p{font: 16px/28px var(--sfl); opacity: .65;}
  }
  form{
    .form-group{margin: 0 auto 20px; max-width: 660px;}
    label{display: block; text-align: left; margin-bottom: 11px; opacity: .55; line-height: 19px;}
    input,textarea{
      width: 100%; height: 50px;  margin: 0 auto;
      padding: 0 25px;
      background: rgba(#DC4646,0.05);
      border-radius: 15px; border: none;
      font-family: var(--sfl);
      color: #333;
      &:focus{outline: none;}
      &::placeholder{opacity: .4;}
    }
    textarea{min-height: 175px; padding: 15px 25px;}
  }
  .btn_submit{
    width: 100%; height: 54px; max-width: 660px;
    margin: 45px auto 0;
    background: #DC4646;
    border-radius: 15px;
    color: #fff; font: 21px var(--sfb);
    &:hover{background: var(--redhover);}
  }
}
.star-rating{
  font-size: 0;
  white-space: nowrap;
  width: 70px;
  height: 12px;
  margin: 0 auto;
  overflow: hidden;
  background: url("#{$img-path}/star2.png");
  background-size: contain;
  position: absolute; top: 8px; left: 18px;
  input{
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
  }
  input:checked + i{opacity: 1;}
  i{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url("#{$img-path}/star1.png");
    background-size: contain;
  }
  i~i{width: 40%;}
  i~i~i{width: 60%;}
  i~i~i~i{width: 80%;}
  i~i~i~i~i{width: 100%;}
}

.modal-navbar{
  width: 100%; height: 100%;
  background: rgba(#000,.5);
  position: fixed; top: 56px; z-index: 2;
  opacity: 0; left: -9999px; transition: opacity .3s  ease;
  &.show{left: 0; opacity: 1;}
}

//modal
.modal-login,.modal-register{
  .modal-dialog{max-width: 605px;}
  .modal-content{
    padding: 45px 55px 20px;
    background: #FFFFFF;
    border-radius: 23px;
    .form-group{margin-bottom: 19px; position: relative;}
    h5,h2{color: #000; opacity: .6;}
    h5{margin-bottom: 10px; font: 18px/21px SFProDisplay-Medium, sans-serif;}
    h2{margin-bottom: 45px; font: 36px/43px SFProDisplay-Bold, sans-serif;}
    label{display: block; margin-bottom: 11px; line-height: 19px; color: #000; opacity: .55;}
    input{
      width: 100%; height: 50px;
      border-radius: 15px;
      padding: 0 22px;
      border: 1px solid rgba(#DC4646,0.2);
      background: rgba(#DC4646,0.05);
      color: rgba(#000,.5);
      font: 16px SFProDisplay-Light, sans-serif;
      &:focus{outline: none;}
      &::placeholder{color: rgba(#000,.2);}
    }
    .toggle-password{
      width: 21px; height: 13px;
      background: url("#{$img-path}/icon-hide.png") no-repeat;
      position: absolute; right: 20px; bottom: 19px;
      cursor: pointer;
      &.show::after{
        content: "";
        width: 2px;
        height: 20px;
        background: #e46c6c;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    .btn_submit{
      width: 100%; height: 54px;
      margin: 50px 0 26px;
      background: #DC4646;
      border-radius: 15px;
      font: 21px SFProDisplay-Bold, sans-serif;
      color: #fff; transition: .25s;
      &:hover{background: #9b2b2b;}
    }
    .remember{
      margin-bottom: 0;
      display: flex; align-items: center;
    }
    input[type="checkbox"]{width: 15px; height: 15px; margin-right: 7px; background: #EBEBEB; border-radius: 3px;}
    .forgot_pass{color: #000000; opacity: 0.45;}
    .signup,.login{
      margin-top: 120px;
      text-align: center;
      color: #727272;
      a{margin-left: 5px; color: #DC4646;}
    }
    .login{
      margin-top: 45px;
    }
  }
  .register_select{
    margin: -10px 0 20px;
    >*+*{margin-left: 30px;}
    .active{
      .icon{background: rgba(#DC4646,.4);}
      .icon::after{background: #DC4646;}
    }
    a{display: flex; align-items: center; color: #727272; position: relative;}
    .icon{
      background: rgba(#C3C3C3,.4);
      border-radius: 10px;
      width: 15px; height: 15px; display: block; margin-right: 9px; position: relative;
      &::after{
        content: "";
        width: 9px; height: 9px;
        background: #808080;
        border-radius: 10px;
        position: absolute; top: 3px; left: 3px;
      }
    }
  }
}
.modal-register{
  .modal-content{
    padding-bottom: 30px;
    h5{margin-bottom: 0;}
    .btn_submit{margin-top: 40px;}
  }
  .register_select{margin-top: 10px;}
}

//footer
footer{
  padding: 64px 0 120px;
  background: #d14743 url("#{$img-path}/bg-footer.png") no-repeat 0 0/cover;
  color: #fff;
  .intro{margin: 8px 0 55px; max-width: 398px; font: 18px/30px SFProDisplay-Light, sans-serif;}
  .social{
    >*+*{margin-left: 35px;}
    a{display: block; text-indent: -9999em;}
    .facebook{width: 14px; height: 28px; background: url("#{$img-path}/face.png") no-repeat 0 0/contain;}
    .google{width: 35px; height: 35px; background: url("#{$img-path}/google.png") no-repeat 0 0/contain;}
    .instagram{width: 36px; height: 36px; background: url("#{$img-path}/inst.png") no-repeat 0 0/contain;}
  }
  .link{
    >*+*{margin-top: 25px;}
    a{display: block; font: 18px/23px SFProDisplay-Light, sans-serif; opacity: .85; color: #fff;}
    a:hover{opacity: 1;}
  }
  .right a{text-align: right;}
}

//responsive
@media (min-width: 1600px) {
  .container{max-width: 1260px;}
  .profile .container{max-width: 1560px;}
}

@media (min-width: 1023px) and (max-width: 1200px) {
  .navbar{padding: 0 15px;}
  .banner{
    padding: 30px 15px 80px;
    .scroll{bottom: 20px;}
    h4{font-size: 30px;}
    h2{font-size: 60px;}
  }
  .news{
    article{
      .img_thumb,.content{width: 50%;}
      .content{padding-left: 15px;}
    }
    .readlot{
      article{
        .img_thumb{width: 285px;}
        .content{width: calc(100% - 285px);}
      }
    }
  }
  .profile{
    .info h4{line-height: 25px;}
  }
}

@media (max-width: 1023px) {
  .navbar{
    padding: 13px 15px;
    .btn_login_m{width: 30px; display: block;}
  }
  main{margin-top: 56px;}
  .navbar-collapse{
    display: flex; flex-direction: column;
    position: fixed; top: 56px; left: -100%;
    width: 70%; height: calc(100% - 60px);
    padding: 18px 0 0;
    background: #fff;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
    .close{
      display: block; text-indent: -9999em;
      width: 13px; height: 13px;
      background: url("#{$img-path}/icon-close.png") no-repeat;
      opacity: 1;
      position: absolute; top: 18px; left: 20px;
    }
  }
  .navbar-toggler{
    display: block;
    width: 30px;
    height: 14px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 16px; height: 2px; border-radius: 2px;
      background: #5C5C5C; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 20px; height: 2px; background: #5C5C5C; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggler.active{
    span{width: 33px; transform: rotate(45deg);}
    span:after{width: 33px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 15px;
    >*+*{margin: 25px 0 0;}
    a{text-align: center; font-size: 16px; line-height: 45px;}
  }

  .banner{
    min-height: auto;
    padding: 30px 15px 45px;
    flex-wrap: wrap;
    &__content,&__img{width: 100%;}
    &__img{
      padding-right: 0; margin-top: 30px;
      img{max-width: 80%; display: block; margin: 0 auto;}
    }
    h2,h4{line-height: inherit;}
    h4{font-size: 20px;}
    h2{font-size: 40px;}
    .box-btn{
      margin-top: 30px;
      a{max-width: 48%; border-width: 1px; font-size: 17px;}
    }
  }
  .prize{
    padding-top: 50px;
    .header{margin-bottom: 50px;}
    article{margin: 0 auto 30px; max-width: 31%;}
    .img_thumb{padding-bottom: 75%; max-width: 300px;}
  }
  .overview{
    margin-top: 80px;
    &__list{
      li{max-width: 25%;}
      span{font-size: 20px;}
      .img-wrapper{height: 170px;}
    }
  }
  .features{
    margin-top: 70px;
    padding: 50px 0 70px;
    .des{margin-bottom: 40px;}
    .item{min-height: 170px;}
    .text{font-size: 16px;}
  }
  .partner{
    padding-top: 50px;
    &__list{margin-top: 50px;}
  }
  .register{
    height: auto; padding: 35px 0; margin-top: 60px;
  }
  .news{
    padding-top: 50px;
    article{
      margin: 20px 0;
      .img_thumb,.content{width: 100%; padding: 0;}
      .img_thumb{max-width: 385px; margin: 0 auto;}
      .content{margin-top: 15px;}
      p{line-height: inherit;}
    }
    &__detail{
      .category{margin: 50px 0;}
    }
    .hightlight{
      h3{line-height: inherit; font-size: 24px;}
      .img_thumb{height: 240px;}
      p{line-height: inherit;}
    }
    .readlot{
      article{
        .img_thumb{max-width: 285px;}
        .content{width: calc(100% - 285px); margin-top: 0; padding-left: 15px;}
        h3{font-size: 20px; line-height: inherit;}
        p{line-height: inherit;}
      }
    }
  }
  .logos{padding: 30px 0; margin-top: 60px;}
  .profile{
    .info{
      h4{font-size: 26px; line-height: inherit;}
      &__img{margin-right: 15px; width: 110px; height: 110px;}
      &__content{margin: 10px 0;}
    }
    .post{
      article{padding: 0 8px; max-width: 300px;}
    }
    .slick-next{right: -43px;}
    .slick-prev{left: -35px;}
  }
  .faq{
    padding-top: 50px;
    &__form{
      margin-top: 50px;
      .header{margin-bottom: 45px;}
      h2{font-size: 24px;}
      p{font-size: 16px;}
    }
    .header{margin-bottom: 50px;}
    .item{
      padding: 15px 15px 10px;
      h4{font-size: 20px; line-height: inherit;}
      p{font-size: 14px; line-height: 26px;}
    }
    .item__content{
      > *{padding-right: 12px;}
    }
    .item__header{padding-right: 40px;}
    .item__header::after{right: 0; top: 10px;}
    form{
      input{height: 45px; padding: 0 15px;}
    }
  }

  .modal-login,.modal-register{
    .modal-content{
      padding: 30px 15px;
      h5{font-size: 16px;}
      h2{margin-bottom: 25px; font-size: 26px; line-height: initial;}
      input{height: 45px; padding: 0 15px; border-radius: 10px;}
      .toggle-password{bottom: 16px;}
      .signup,.login{margin-top: 60px;}
    }
  }

  footer{
    padding: 50px 0;
    .row > *+*{margin-top: 30px;}
    .right a{text-align: left;}
  }

  //uikit
  .title{font-size: 30px; line-height: inherit;}
  .btn__seeall{margin-top: 30px;}
}

@media (max-width: 640px) {
  .profile{
    .info{
      margin: 30px 0;
      h4{font-size: 24px;}
    }
    .postmedia{margin-top: 50px;}
    .slick-next{right: -10px;}
    .slick-prev{left: -10px;}
  }
  .prize{
    article{max-width: 300px;}
  }
  .news{
    article .img_thumb{height: 180px;}
    .readlot{
      article{
        .img_thumb,.content{width: 100%; max-width: 100%;}
        .content{margin-top: 15px; padding: 0;}
        h3{font-size: 17px;}
      }
    }
    .latest article{margin: 30px 0;}
    &__tab{
      margin-top: 30px;
      a{line-height: 40px;}
    }
    &__detail{
      .category{margin: 30px 0;}
      .title{font-size: 20px;}
    }
  }
  .overview{
    &__list{
      li{max-width: 50%;}
    }
  }
}


//animation
@-webkit-keyframes movey {
  0%{transform: translateY(5px);}
  50%{transform: translateY(-5px);}
  100%{transform: translateY(5px);}
}